body {
  background-color: rgb(101, 101, 101);
  width: 100%;
  /* float: left; */
}


#main-header {
  text-align: center;
  color: rgb(220, 171, 46);
}

#market-cap {
  text-align: center;
}

.left {
  width: 20vw;
  float: left;
  height: 100%;
}

.middle {
  width: 60vw;
  float: left;
  height: 100%;
}

.right {
  width: 20vw;
  float: left;
  height: 100%;
}

.webgl {
  padding-top: 25px;
  padding-bottom: 25px;
  /* padding-left: 25px;
  padding-right: 25px; */
  text-align: center;
  width: 60%;
}

#coin-list {
  overflow-y: auto;
  height: 350px;
  cursor: pointer;
}

#change-color {
  color: goldenrod;
  font-size: 20px;
}

#coin-data-title {
  text-align: center;
}

#coin-data {
  width: 50vw;
  background-color: goldenrod;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  padding: 1px 16px;
  border-radius: 25px;
}

.tracked-coin-card {
  text-align: left;
  background-color: goldenrod;
  padding-top: opx;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  border-radius: 25px;
}

#cards-go-here {
  overflow-y: auto;
  height: 500px;
}

#enter-new-card {
  /* background-color: palegoldenrod; */
  padding-right: 0px;
  box-shadow: 0 6px 10px 0 rgba(5, 5, 5, 3);
}